@model FEDPAY.Models.AdmDiffStmtVw

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(8,1fr);
            grid-template-rows: repeat(20, minmax(15px,auto));
            /* grid-auto-rows: minmax(30, auto);*/
            /*grid-gap: 1px; */
            background-color: #beb5b5;
            padding: 5px;
        }

            .grid-container > div {
                background-color: #beb5b5; /*#2196F3;*/
                text-align: start;
                padding: 5px 5px;
                font-size: 15px;
            }
        /*.grid-container div:nth-child(even)
        {
         background:#00ff21;
        }*/

        .item1 { /*Report  Title*/
            grid-area: 1 / 4 / 1 / 5;
            text-align-last: center;
        }

        .item1 p {
            color:#2923b4;
            margin: 0;
        }

        .item2 { /*Vendor#*/
            grid-area: 2 / 1 / 2 / 2;
        }

        .item3 { /*PO#*/
            /* grid-column: 4 / span 2;  */
            grid-area: 2 / 3 / 2 / 5;
            text-align-last: center;
        }

        .item4 { /*Address*/
            grid-area: 3 / 2 / 7 / 4;
            text-align-last: left;
            fill: #b6ff00;
        }

        .item5 { /*Stock#*/
            grid-area: 7 / 1 / 7 / 2;
        }


        .item6 { /*Adm Diff Cnt*/
            grid-area: 7 / 6 / 7 / 6;
            text-align-last: end;
        }

            .item6 p {
                background: #ffffff; /*#00ff20;**/
                margin: 0;
            }

/*    Invoice Summary related data*/
        .item10 { /*INV# */
            grid-area: 2 / 7 / 2 / 7;
            text-align-last: start;
        }

        .item11 { /*INV AMT */
            grid-area: 3 / 7 / 3 / 7;
            text-align-last: end;
        }

        .item12 { /*Tot AD AMT */
            grid-area: 4 / 7 / 4 / 7;
            text-align-last: end;
        }

        .item13 { /*Paid AMT */
            grid-area: 5 / 7 / 5 / 7;
            text-align-last: end;
        }

/*   Begining Invoice Summary Lables*/
        .item14 { /*INV# Label*/
            grid-area: 2 / 6 / 2 / 6;
            text-align-last: end;
        }

        .item15 { /*INV AMT Label*/
            grid-area: 3 / 6 / 3 / 6;
            text-align-last: end;
        }

        .item16 { /*AD AMT Label*/
            grid-area: 4 / 6 / 4 / 6;
            text-align-last: end;
        }
        .item17 { /*Paid AMT Label*/
            grid-area: 5 / 6 / 5 / 6;
            text-align-last: end;
        }
/*Labels for Diff Items*/
        .item20 { /*inv qty*/
            grid-area: 8 / 1 / 8 / 2;
            text-align-last: center;
        }
        .item21 { /*PO qty*/
            grid-area: 8 / 2 / 8 / 3;
            text-align-last: center;
        }
        .item22 { /*Diff qty*/
            grid-area: 8 / 3 / 8 / 4;
            text-align-last: center;
        }
        .item23 { /*inv ucp*/
            grid-area: 8 / 4 / 8 / 5;
            text-align-last: center;
        }
        .item24 { /*PO ucp*/
            grid-area: 8 / 5 / 8 / 6;
            text-align-last: center;
        }
        .item25 { /*Diff UCP*/
            grid-area: 8 / 6 / 8 / 7;
            text-align-last: center;
        }

/*Values for Diff Items*/
        .item26 { /*inv qty*/
            grid-area: 9 / 1 / 9 / 2;
            text-align-last: end;
        }
            .item26 p {
                background: #ffffff;
                margin: 0;
            }


        .item27 { /*PO qty*/
            grid-area: 9 / 2 / 9 / 3;
            text-align-last: end;
        }
            .item27 p {
                background: #ffffff;
                margin: 0;
            }


        .item28 { /*Diff qty*/
            grid-area: 9 / 3 / 9 / 4;
            text-align-last: end;
        }
            .item28 p {
                background: #ffffff;
                margin: 0;
            }


        .item29 { /*inv ucp*/
            grid-area: 9 / 4 / 9 / 5;
            text-align-last: end;
        }
            .item29 p {
                background: #ffffff;
                margin: 0;
            }


        .item30 { /*PO ucp*/
            grid-area: 9 / 5 / 9 / 6;
            text-align-last: end;
        }
            .item30 p {
                background: #ffffff;
                margin: 0;
            }


        .item31 { /*Diff UCP*/
            grid-area: 9 / 6 / 9 / 7;
            text-align-last: end;
        }
            .item31 p {
                background: #ffffff;
                margin: 0;
            }


/*Labels for Deductions */
        .item40 { /* Lab Amt Deducted for Qty Diff*/
            grid-area: 10 / 2 / 11 / 4;
            text-align-last: center;
        }

        .item41 { /*Lab Amt Deducted for UCP Diff*/
            grid-area: 13 / 2 / 14 / 4;
            text-align-last: center;
        }

        .item42 { /*Add sign*/
            grid-area: 11 / 4 / 11 / 5;
            text-align-last: center;
        }
        .item43 { /*Equal sign*/
            grid-area: 13 / 6 / 13 / 6;
            text-align-last: center;
        }

        .item44 { /*Lab Amt Deducted*/
            grid-area: 13 / 7 / 13 / 7;
            text-align-last: center;
        }

/*Values for Deductions */
        .item45 { /* Amt Deducted for Qty Diff*/
            grid-area: 10 / 5 / 10 / 5;
            text-align-last: end;
        }
            .item45 p {
                background: #ffffff;
                margin: 0;
            }


        .item46 { /*Amt Deducted for UCP Diff*/
            grid-area: 13 / 5 / 13 / 5;
            text-align-last: end;
        }
            .item46 p {
                background: #ffffff;
                margin: 0;
            }


        .item47 { /*Amt Deducted for Admn Diff*/
            grid-area: 14 / 7 / 14 / 8;
            text-align-last: end;
            
        }
            .item47 p {
                background: #ffffff;
                margin: 0;
            }


/*Labels for bottom of Report*/
        .item50 { /* Lab for Reason*/
            grid-area: 16 / 1 / 16 / 2;
            text-align-last: start;
        }

        .item51 { /* Lab for Date Initials*/
            grid-area: 18 / 1 / 18 / 1;
            text-align-last: start;
        }

        .item52 { /* Lab for Claim#*/
            grid-area: 18 / 6 / 18 / 7;
            text-align-last: start;
        }

/*Valus for bottom of Report*/
        .item53 { /* Reason*/
            grid-area: 16 / 2 / 17 / 8;
            text-align-last: start;
        }

        .item54 { /* ab for Date Initials*/
            grid-area: 18 / 2 / 18 / 3;
            text-align-last: start;
        }

        .item55 { /* Claim#*/
            grid-area: 18 / 7 / 18 / 8;
            text-align-last: start;
        }

    </style>

</head>
<body>

    <div class="grid-container">
        <div class="item1"> <p>ADMIN DIFF QUERY <br />  @ViewBag.queryRT</p>  </div>
        <div class="item2"><b>VENDOR#:</b> &nbsp; @Html.DisplayFor(model => model.ADD_VENDOR_NO)</div>
        <div class="item3"><b>PO#:</b> &nbsp; &nbsp; @Html.DisplayFor(model => model.ADD_PO_NO)</div>

        <div class="item4">
            @Html.DisplayFor(model => model.VEN_NAME) <br />
            @if (@ViewBag.Vaddr1 != "no-data")
            {
                @Html.DisplayFor(model => model.VEN_ADDRESS1) <br />
            }
            @if (@ViewBag.Vaddr2 != "no-data")
            {
                @Html.DisplayFor(model => model.VEN_ADDRESS2) <br />
            }

            @if (@ViewBag.Vaddr3 != "no-data")
            {
                @Html.DisplayFor(model => model.VEN_ADDRESS3) <br />
            }

            @Html.DisplayFor(model => model.VEN_CITY_NAME) &nbsp; &nbsp; @Html.DisplayFor(model => model.VEN_STATE_ABBR) &nbsp;  @Html.DisplayFor(model => model.VEN_ZIP_CODE)

        </div>

        <div class="item5"><b>STOCK#:</b> &nbsp; @Html.DisplayFor(model => model.ADD_STOCK_NO)</div>

        <div class="item6"><b>NO OF DIFF:</b> &nbsp; @Html.DisplayFor(model => model.AD_CNT)</div>

        <div class="item10">
            @Html.DisplayFor(model => model.ADD_INVOICE_NO)
        </div>

        <div class="item11">
            @Html.DisplayFor(model => model.INS_INVOICE_AMT)
        </div>

        <div class="item12">
            @Html.DisplayFor(model => model.TOT_AD_AMT)
        </div>

        <div class="item13">
            @Html.DisplayFor(model => model.INS_AMT_PAID)
        </div>


        <div class="item14">
            <b>INVOICE#:</b>
        </div>

        <div class="item15">
            <b>INVOICE AMT:</b>
        </div>

        <div class="item16">
            <b>TOTAL DIFF AMT:</b>
        </div>

        <div class="item17">
            <b>AMT PAID:</b>
        </div>

        <div class="item20">
            <b>INV QTY </b>
        </div>

        <div class="item21">
            <b> PO QTY </b>
        </div>

        <div class="item22">
            <b>DIFF QTY</b>
        </div>

        <div class="item23">
            <b>INVOICE UCP</b>
        </div>

        <div class="item24">
            <b>PO UCP</b>
        </div>

        <div class="item25">
            <b>DIFF UCP</b>
        </div>

        <div class="item26">
            <p>@Html.DisplayFor(model => model.ADD_BILLED_QTY)</p>
        </div>

        <div class="item27">
            <p>@Html.DisplayFor(model => model.ADD_PO_QTY)</p>
        </div>

        <div class="item28">
            <p>@ViewBag.Diff_qty</p>
        </div>

        <div class="item29">
            <p>@Html.DisplayFor(model => model.ADD_BILLED_UCP)</p>
        </div>

        <div class="item30">
            <p>@Html.DisplayFor(model => model.ADD_PO_UCP)</p>
        </div>

        <div class="item31">
            <p>@(((decimal)ViewBag.Diff_ucp).ToString("N5"))</p>
        </div>

        <div class="item40">
            <b>AMOUNT DEDUCTED FOR QTY DIFF:</b> <br />
            <i>(DIFF QTY x INVOICE UCP)</i>
        </div>

        <div class="item41">
            <b>AMOUNT DEDUCTED FOR UCP DIFF:</b> <br />
            <i>(DIFF UCP x INVOICE QTY)</i>
        </div>

        <div class="item42">
            +
        </div>

        <div class="item43">
            =
        </div>

        <div class="item44">
            <b>AMOUNT DEDUCTED</b>
        </div>

        <div class="item45">
            <p> @(((decimal)ViewBag.Diff_amt4qty).ToString("N2"))  </p>
        </div>

        <div class="item46">
            <p>@(((decimal)ViewBag.Diff_amt4ucp).ToString("N2")) </p>
        </div>

        <div class="item47">
            <p>@Html.DisplayFor(model => model.ADD_AMT)</p>
        </div>

        <div class="item50">
            <b>REASON:</b>
        </div>

        <div class="item51">
            <b>DATE / INITIALS:</b>
        </div>

        <div class="item52">
            <b>CLAIM#:</b>
        </div>

        <div class="item53">
            @Html.DisplayFor(model => model.FEM_FORM_MESSAGE)
        </div>

        <div class="item54">
            @Html.DisplayFor(model => model.ADD_DATE_OF_DIFF)  &nbsp;  @Html.DisplayFor(model => model.ADD_INITIALS)
        </div>

        <div class="item55">
            @Html.DisplayFor(model => model.ADD_CLAIM_CONTROL_NO)
        </div>

    </div>

    <div>
        @*<a asp-action="Index2" asp-route-po="@ViewBag.IndxPO" asp-route-inv="@ViewBag.IndxINV">Back to List</a>*@
        <a asp-action="Index" asp-route-pos="@ViewBag.IndxPO" asp-route-invs="@ViewBag.IndxINV">Back to List</a>
    </div>
</body>
</html>

