@model FEDPAY.Models.AdmDiffStmtVw

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Admin_Diff</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ADD_VENDOR_NO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_VENDOR_NO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_AMT)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_AMT)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_BILLED_QTY)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_BILLED_QTY)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_BILLED_UCP)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_BILLED_UCP)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_CLAIM_CONTROL_NO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_CLAIM_CONTROL_NO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_PO_QTY)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_PO_QTY)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_PO_UCP)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_PO_UCP)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_STOCK_NO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_STOCK_NO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_FSS_PO_NO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_FSS_PO_NO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_DATE_OF_DIFF)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_DATE_OF_DIFF)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ADD_INITIALS)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ADD_INITIALS)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index2" asp-route-po="@ViewBag.IndxPO" asp-route-inv="@ViewBag.IndxINV">Back to List</a>
    </div>
</body>
</html>

