@model FEDPAY.Models.Region

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REG_PO_SUFFIX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REG_PO_SUFFIX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REG_FSS_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REG_FSS_REGION_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REG_FAIM_FB_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REG_FAIM_FB_REGION_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REG_FEDPAY_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REG_FEDPAY_REGION_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REG_ROUTING_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REG_ROUTING_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REG_INFONET_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REG_INFONET_REGION_CODE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.REG_PO_SUFFIX">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
