@page
@model FEDPAY.Views.Home.FEDPAY.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region.REG_FSS_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.REG_FSS_REGION_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region.REG_FAIM_FB_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.REG_FAIM_FB_REGION_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region.REG_FEDPAY_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.REG_FEDPAY_REGION_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region.REG_ROUTING_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.REG_ROUTING_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region.REG_INFONET_REGION_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.REG_INFONET_REGION_CODE)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Region.REG_PO_SUFFIX" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
